name: Deploy to Production

on:
  schedule:
  - cron: '*/1 * * * *'

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: Production

    steps:
    - name: Deploy to Production
      run: echo 'Deploying to Production..'
